---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import QuickStart from "../components/QuickStart.astro";
import Nodes from "../components/Nodes.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Features />
    <QuickStart />
    <Nodes />
  </main>
</BaseLayout>
